.home-container {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  padding: 0;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  padding: 0;
  height: 100vh;
  background-color: var(--bg-tab-color);
}

.home-pager {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  height: 2.5rem;
}

.nav-link {
  color: var(--main-text-color);
}

.nav-link.active {
  color: var(--secondary-text-color) !important;
}